## National Health and Nutrition Examination Survey (NHANES)

https://wwwn.cdc.gov/nchs/nhanes/

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014
Foram extraídos dados do NHANES 2013-2014.

Os dados estão disponíveis em arquivos CSV no diretório /data/nhanes

## Tarefa 1 - Esquema Relacional

person(__id__, gender, age)

drug(__code__, name)

use(__person_id__,__ drug_code__, days_use)
drug_code: chave estrangeira para drug
person_id: chave estrangeira para person

## Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
CREATE TABLE Person (
    Id VARCHAR(5) NOT NULL,
    Gender INTEGER,
    Age INTEGER,
    PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVRead('../data/demographic-person.csv');

In [3]:
SELECT * FROM Person;

In [4]:
CREATE TABLE Drug (
    Code VARCHAR(6) NOT NULL,
    Name VARCHAR(70),
    PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVRead('../data/medications-drug.csv');

In [5]:
SELECT * FROM Drug;

In [7]:
CREATE TABLE Use (
    Person_id  VARCHAR(5) NOT NULL,
    Drug_code VARCHAR(6) NOT NULL,
    Days_use INTEGER,
    FOREIGN KEY(Person_id)
        REFERENCES Person(Id)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION,
    FOREIGN KEY(Drug_code)
        REFERENCES Drug(Code)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION,
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVRead('../data/medications-use.csv');

## Tarefa 3 - Consultas Simples

a) Pessoas com 60 anos ou mais

In [8]:
SELECT Person.Id, Person.Age FROM Person
    WHERE Person.Age >= 60;

b) Idade das pessoas cadastradas (sem repetições)

In [9]:
SELECT DISTINCT P.Age FROM Person P;

c) Código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [9]:
SELECT U.Person_id, P.Age, U.Drug_code, U.Days_use
    FROM Person P, Use U
    WHERE U.Person_id = P.Id;

d) Código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [10]:
SELECT U.Person_id, P.Age, D.Name, U.Days_use
    FROM Person P, Drug D, Use U
    WHERE U.Person_id = P.Id AND U.Drug_code = D.Code;

e)Nome dos medicamentos que foram usados por pessoas (sem repetições)

In [11]:
SELECT DISTINCT D.Name
    FROM Person P, Drug D, Use U
    WHERE U.Person_Id = P.Id AND U.Drug_code = D.Code

f) Nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [12]:
SELECT DISTINCT D.Name
    FROM Drug D, Use U
    WHERE U.Days_use > 2000 AND U.Drug_code = D.Code;